    $bg-primary: #19191B;
    $vue: #42B883;
    $nuxt: #00DC82;
    $nest: #E0234E;
    $node: #5FA04E;
    $ts: #3178C6;
    $js: #F7DF1E;
    $prisma: #D2D2D2;
    $postgres: #336791;
    $docker: #1D63ED;

    $bg-primary-shadow: #19191B4D;
    $vue-shadow: #42B8834D;
    $nuxt-shadow: #00DC824D;
    $nest-shadow: #E0234E4D;
    $node-shadow: #5FA04E4D;
    $ts-shadow: #3178C64D;
    $js-shadow: #F7DF1E4D;
    $prisma-shadow: #D2D2D24D;
    $postgres-shadow: #3367914D;
    $docker-shadow: #1D63ED4D;

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-primary;
        background-image: url('../assets/background.png');
        background-size: cover;
        background-repeat: repeat-y;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.curriculo {
                height: 2.5rem;
                color: white;
                background-color: #5454D4;
                display: flex;
                align-items: center;
                gap: 0.75rem;
                padding: 4px 20px;
                border-radius: 8px;
                transition: box-shadow 0.3s ease-in-out;
            }

            ul {
                display: flex;
                gap: 2rem;
                font-size: 1.25rem;
                color: white;
                li {
                    a {
                        color: white;
                        transition: text-shadow 0.3s ease-in-out;
                    }
                }
            }

            div.redes {
                display: flex;
                gap: 2.5rem;
                
                a {
                    color: white;
                    transition: text-shadow 0.3s ease-in-out;
                }
            }
            div.menu_burger {
                display:none;
                color: white;
                cursor: pointer;
            }
        }
    }

    .container, .container-nav {
        display: flex;
        width: 100%;
        max-width: 1040px;
    }

    .container {
        flex-direction: column;
    }

    .curriculo:hover {
        cursor: pointer;
        box-shadow: 0 0 15px #5454D4;
    }

    ul li a:hover {
        text-shadow: 0 0 15px white;
    }

    .menu_burger svg:hover, .redes svg:hover {
        cursor: pointer;
        transition: scale 0.3s ease-in-out;
        scale: 1.10;
    }

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .column-name {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .name,
    .function {
        color: white;
    }

    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 5.5rem;
        line-height: 90%;
    }

    .function {
        font-size: 2.25rem;
        color: #BABABB;
    }

    .function span {
        position: relative;
    }

    .function span::before {
        content: "";
        color: #BABABB;
        font-weight: 400;
        animation: change-text 4.5s infinite;
    }

    .function span::after {
        content: "";
        position: absolute;
        height: 100%;
        right: -10px;
        width: calc(100% + 10px);
    }

    @keyframes change-text {

        0%,
        33% {
            content: "Full Stack Node";
            color: white;
        }

        34%,
        66% {
            content: "Front-End Vue | Nuxt";
            color: $nuxt;
        }

        67%,
        100% {
            content: "Back-End Nest";
            color: $nest;
        }
    }

    .picture-profile {
        height: auto;
        width: 24rem;
        transition: transform 1s ease-in-out;
        animation: change-scale 10s infinite;
    }

    @keyframes change-scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1);
        }
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .tecnologias--title {
        margin-top: 5.5rem;
        font-size: 2rem;
        color: white;
    }

    .tecnologias--items {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .tecnologias--items img {
        height: 80px;
        width: auto;
    }

    .tecnologias--items img:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        transform: scale(0.90);
    }

    .tecnologias--explicacao {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
    }

    .tecnologias--explicacao .tecnologias--item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 224px;
        padding: 1.5rem;
        gap: 0.5rem;
        border-radius: 1rem;
        color: white;
    }

    .tecnologias--item .paragraph {
        font-size: 1.25rem;
    }

    .tecnologias--item .title {
        font-size: 2rem;
    }

    #vue {
        background-color: $vue;
    }

    #nuxt {
        background-color: $nuxt;
    }

    #nest {
        background-color: $nest;
    }

    #node {
        background-color: $node;
    }

    #ts {
        background-color: $ts;
    }

    #js {
        background-color: $js;
        color: $bg-primary;
    }

    #prisma {
        background-color: $prisma;
        color: $bg-primary;
    }

    #postgres {
        background-color: $postgres;
    }

    #docker {
        background-color: $docker;
    }

    .tecnologias--item.hidden {
        display: none;
        transition: 0.3s ease-in-out;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: white;

        a {
            color: $nuxt;
        }
    }

    @media screen and ( min-width: 480px) and (max-width:800px) {
        header {
            nav {
                padding: 5%;
                ul {
                    display: none;
                }
                div.menu_burger {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        body {
            padding: 0% 5%;
        }
        header {
            padding: 5% 0%;
            nav {
                ul {
                    display: none;
                }
                div.menu_burger {
                    display: block;
                }
            }
        }
        main {
            section.profile {
                flex-direction: column;
                div.profile-name {
                    h1.name {
                       font-size: 3rem; 
                    }
                }
            }
            section.tecnologias {
                h2.tecnologias--title {
                    margin-top: 0;
                }
                div.tecnologias--items {
                    display: grid;
                    align-items: center;
                    justify-content: space-between;
                    justify-items: center;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 0.75rem;
                    row-gap: 0.75rem;
                    img {
                        height: 52px;
                        width: auto;    
                    }
                }
                div.tecnologias--explicacao {
                    div.tecnologias--item {
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        footer {
            text-align: center;
        }
    }