    $bg-primary: #19191B;
    $vue: #42B883;
    $nuxt: #00DC82;
    $nest: #E0234E;
    $node: #5FA04E;
    $ts: #3178C6;
    $js: #F7DF1E;
    $prisma: #D2D2D2;
    $postgres: #336791;
    $docker: #1D63ED;

    $bg-primary-shadow: #19191B4D;
    $vue-shadow: #42B8834D;
    $nuxt-shadow: #00DC824D;
    $nest-shadow: #E0234E4D;
    $node-shadow: #5FA04E4D;
    $ts-shadow: #3178C64D;
    $js-shadow: #F7DF1E4D;
    $prisma-shadow: #D2D2D24D;
    $postgres-shadow: #3367914D;
    $docker-shadow: #1D63ED4D;

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-primary;
        background-image: url('../assets/background.png');
        background-size: cover;
        background-repeat: repeat-y;
        padding: 0 2rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.curriculo {
                height: 2.5rem;
                color: white;
                background-color: #5454D4;
                display: flex;
                align-items: center;
                gap: 0.75rem;
                padding: 4px 20px;
                border-radius: 8px;
                transition: box-shadow 0.3s ease-in-out;
            }

            ul {
                display: flex;
                gap: 2rem;
                font-size: 1.25rem;
                color: white;

                li {
                    a {
                        color: white;
                        transition: text-shadow 0.3s ease-in-out;
                    }
                }
            }

            div.redes {
                display: flex;
                gap: 2.5rem;

                a {
                    color: white;
                    transition: text-shadow 0.3s ease-in-out;
                }
            }

            div.menu_burger {
                display: none;
                color: white;
                cursor: pointer;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .container,
    .container-nav {
        display: flex;
        width: 100%;
        max-width: 1040px;
    }

    .container {
        flex-direction: column;
    }

    .curriculo:hover {
        cursor: pointer;
        box-shadow: 0 0 15px #5454D4;
    }

    ul li a:hover {
        text-shadow: 0 0 15px white;
    }

    .menu_burger svg:hover,
    .redes svg:hover {
        cursor: pointer;
        transition: scale 0.3s ease-in-out;
        scale: 1.10;
    }

    .profile {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profile-name {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .name {
        font-size: clamp(4.75rem, 7rem, 6vw);
        line-height: 90%;
    }

    .function {
        font-size: clamp(1.25rem, 2vw, 2rem);
        color: #BABABB;
    }

    .function span {
        position: relative;
    }

    .function span::before {
        content: "";
        color: #BABABB;
        font-weight: 400;
        animation: change-text 4.5s infinite;
    }

    .function span::after {
        content: "";
        position: absolute;
        height: 100%;
        right: -10px;
        width: calc(100% + 10px);
    }

    @keyframes change-text {

        0%,
        33% {
            content: "Full Stack Node";
            color: white;
        }

        34%,
        66% {
            content: "Front-End Vue | Nuxt";
            color: $nuxt;
        }

        67%,
        100% {
            content: "Back-End Nest";
            color: $nest;
        }
    }

    .picture-profile {
        height: auto;
        width: 24rem;
        transition: transform 1s ease-in-out;
        animation: change-scale 10s infinite;
    }

    @keyframes change-scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1);
        }
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
    }

    .tecnologias--title {
        font-size: 2rem;
        color: white;
    }

    .tecnologias--items {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .tecnologias--items img {
        height: 80px;
        width: auto;
    }

    .tecnologias--items img:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        transform: scale(0.90);
    }

    .tecnologias--explicacao {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
    }

    .tecnologias--explicacao .tecnologias--item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 224px;
        padding: 1.5rem;
        gap: 0.5rem;
        border-radius: 1rem;
        color: white;
    }

    .tecnologias--item .paragraph {
        font-size: 1.25rem;
    }

    .tecnologias--item .title {
        font-size: 2rem;
    }

    #vue {
        background-color: $vue;
    }

    #nuxt {
        background-color: $nuxt;
    }

    #nest {
        background-color: $nest;
    }

    #node {
        background-color: $node;
    }

    #ts {
        background-color: $ts;
    }

    #js {
        background-color: $js;
        color: $bg-primary;
    }

    #prisma {
        background-color: $prisma;
        color: $bg-primary;
    }

    #postgres {
        background-color: $postgres;
    }

    #docker {
        background-color: $docker;
    }

    .tecnologias--item.hidden {
        display: none;
        transition: 0.3s ease-in-out;
    }

    .sobre_mim {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: white;
        column-gap: 2rem;

        .card_profile {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid $nuxt;
            border-radius: 16px;
            padding: 2rem;
            box-shadow: 0 0 40px $nuxt-shadow;
            row-gap: 2rem;

            .card_profile--header {
                display: flex;
                flex-direction: row;
                column-gap: 1rem;
                align-items: center;

                .sobre_mim--image {
                    width: 20%;
                    height: auto;
                    border-radius: 200px;
                }

                .description {
                    display: flex;
                    flex-direction: column;

                    .description--function {
                        color: $prisma;
                    }
                }
            }

            .card_profile--content {
                display: flex;
                flex-direction: column;
                row-gap: 2rem;

                h3 {
                    font-size: 1.5rem;
                }

                .chipsSoft,
                .chipsHard {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    flex-wrap: wrap;
                    text-wrap: nowrap;

                    .chip {
                        width: fit-content;
                        padding: 0.5rem 1rem;
                        border-radius: 1.5rem;
                        background-color: $nuxt;
                        color: $bg-primary;
                        font-size: 0.75rem;
                    }
                }

            }
        }

        .sobre_mim--text {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            h2 {
                font-size: 3rem;
            }
        }
    }

    .sobre_mim--text p {
        font-size: 1.25rem;
    }

    .sobre_mim--text a {
        color: $nuxt;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: white;

        a {
            color: $nuxt;
        }
    }

    @media screen and (min-width: 480px) and (max-width:800px) {
        header {
            nav {
                padding: 5%;

                ul {
                    display: none;
                }

                div.menu_burger {
                    display: block;
                }
            }
        }

        section.profile {
            .profile-name {
                width: 50%;
                height: 204px;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                h1 {
                    font-size: 4rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }
        }

        section.sobre_mim {
            flex-direction: column;
            row-gap: 3rem;
        }
    }

    @media screen and (max-width: 480px) {
        body {
            padding: 0% 5%;
        }

        header {
            padding: 5% 0%;

            nav {
                ul {
                    display: none;
                }

                div.menu_burger {
                    display: block;
                }
            }
        }

        main {
            display: flex;
            row-gap: 2rem;

            section.profile {
                flex-direction: column;
                div.profile-name {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    h1.name {
                        font-size: 3rem;
                    }
                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }

            section.tecnologias {
                h2.tecnologias--title {
                    margin-top: 0;
                }

                div.tecnologias--items {
                    display: grid;
                    align-items: center;
                    justify-content: space-between;
                    justify-items: center;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 0.75rem;
                    row-gap: 0.75rem;

                    img {
                        height: 52px;
                        width: auto;
                    }
                }

                div.tecnologias--explicacao {
                    div.tecnologias--item {
                        height: 348px;
                        width: auto;

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }

            section.sobre_mim {
                flex-direction: column;
                row-gap: 3rem;
            }
        }

        footer {
            text-align: center;
        }
    }